:root {
    --banner-horizontal-alignment: 17px;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    background-image: url("static/background.png");
}

/* Banners */
.banner {
    position: absolute;
    top: 0;
}
.left-banner { left: var(--banner-horizontal-alignment); }
.right-banner { right: var(--banner-horizontal-alignment); }

/* Visualiser */
.visualiser {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 404px;
    height: 80px;
}

.canvas {
    width: 100%;
    height: 100%;
}