:root {
    --green: #c3ff88;
    --blue: #4a67dd;
    --banner-horizontal-alignment: 17px;
    --team-name-horizontal-alignment: 124px;
    --team-star-horizontal-alignment: 121px;
    --score-container-horizontal-alignment: 467px;
    --lela-ms-paint-horizontal-alignment: -5px;
}

@font-face {
    font-family: "Baskerville BT";
    src: url("../fonts/Baskerville\ BT\ Bold.ttf");
    font-weight: 700;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    width: 1920px;
    height: 1080px;
    font-family: "Baskerville BT";
    font-weight: 700;
}

/* Banners */
.banner {
    position: absolute;
    top: 0;
}
.left-banner { left: var(--banner-horizontal-alignment); }
.right-banner { right: var(--banner-horizontal-alignment); }

/* Team Name */
.team-name {
    position: absolute;
    top: 19px;
    font-size: 50px;
}
.left-team-name { 
    color: var(--green);
    left: var(--team-name-horizontal-alignment);
}
.right-team-name {
    color: var(--blue);
    right: var(--team-name-horizontal-alignment);
}

/* Team Stars */
.team-stars-container {
    position: absolute;
    top: 84px;
    display: flex;
    gap: 15px;
}
.left-team-star-container { left: var(--team-star-horizontal-alignment); }
.right-team-star-container { right: var(--team-star-horizontal-alignment); }
/* Team Star Wrapper */
.team-star-wrapper {
    position: relative;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Team star Images */
.team-star-wrapper img { width: 44px; height: 44px; }
.no-star {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.no-left-star { background-color: var(--green); }
.no-right-star { background-color: var(--blue); }

/* Round Name */
.round-name {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

/* Score Bar */
.score-bar {
    position: absolute;
    top: 885px;
    width: 898px;
    height: 21px;   
}
.left-score-bar {
    right: 50%;
    background-color: var(--green);
}
.right-score-bar { 
    left: 50%;
    background-color: var(--blue);
}

/* Score */
.score-container {
    position: absolute;
    top: 922px;
    width: 269px;
    height: 55px;
    border-radius: 10px;
    font-size: 40px;
    font-weight: 700;
    font-family: "Baskerville BT";
    overflow: hidden;
    text-align: center;
    font-variant-numeric: tabular-nums;
}
.left-score-container { 
    left: var(--score-container-horizontal-alignment);
    color: #7dc337;
}
.right-score-container { 
    right: var(--score-container-horizontal-alignment);
    color: var(--blue);
}
/* Lela MS Paint */
.lela-ms-paint {
    --dimension: 59px;
    position: absolute;
    top: 0;
    width: var(--dimension);
    height: var(--dimension);
    z-index: -1;
}
.left-lela-ms-paint { left: var(--lela-ms-paint-horizontal-alignment); }
.right-lela-ms-paint { right: var(--lela-ms-paint-horizontal-alignment); }

/* Now Playing */
.now-playing {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1920px;
    height: 80px;
    /* background-color: #0a0a0a; */
    color: white;
}
/* Now Playing Background Image */
.now-playing-background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://assets.ppy.sh/beatmaps/2301312/covers/cover.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.25;
}

/* Now Playing Left Section */
.now-playing-left-section {
    position: absolute;
    width: 463px;
    height: 100%;
}
/* Now Playing Left Section Overlay */
.now-playing-left-section-overlay {
    position: absolute;
    width: 463px;
    height: 100%;
    opacity: 0.5;
}
.left-now-playing-left-section-overlay { background-color: var(--green); }
.right-now-playing-left-section-overlay { background-color: var(--blue); }
.now-playing-artist-title-difficulty {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 30px;
    line-height: 30px;
    font-size: 23px;
    letter-spacing: 1px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* Now Playing Bottom Row */
.now-playing-bottom-row {
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    letter-spacing: 2px;
}
/* Now Playing Star Rating and Length */
.now-playing-star-rating { left: 10%; }
.now-playing-length { right: 10%; }
/* Now Playing Other Stats */
.now-playing-stats-container {
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 70px;
}
/* Strain Graph */
#strain-graph {
    position: absolute;
    width: 463px;
    height: 100%;
}

/* Visualiser */
.visualiser {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 404px;
    height: 80px;
}

.canvas {
    width: 100%;
    height: 100%;
}