:root {
    --ban-colour: #ff8888;
    --green: #c3ff88;
    --blue: #4a67dd;
    --banner-horizontal-alignment: 500px;
}

/* Round Name */
.round-name {
    position: absolute;
    top: 34px;
    right: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

/* Border */
.border {
    position: absolute;
    width: 1920px;
    height: 0px;
    border: 3px solid #fff5d5;
}
.top-border { top: 100px; }
.middle-border { top: 481px; }
.bottom-border { top: 856px; }

/* Team Section */
.team-section {
    position: absolute;
    
    width: 1920px;
    height: 380px;
}
.left-team-section { top: 100px; }
.right-team-section { top: 481px; }

/* Team Section Overlay */
.team-section-overlay {
    opacity: 0.502;
    width: 100%;
    height: 100%;
}
.left-team-section-overlay { background-image: linear-gradient(180deg, #c3ff87 0%, #295741 100%); }
.right-team-section-overlay { background-image: linear-gradient(180deg, #4967dd 0%, #b9ddff 100%); }

/* Banner */
.banner {
    position: absolute;
    left: 25px;
    top: 6px;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 22px;
    left: 167px;
    width: 456px;
    font-size: 70px;
    line-height: 72px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}

/* Team Horizontal Rule */
.team-horizointal-rule {
    position: absolute;
    top: 180px;
    width: 1920px;
    height: 48px;
}
.left-team-horizontal-rule { background-color: #3e815f; }
.right-team-horizontal-rule { background-color: #b9ddff; }

/* Team Star Container */
.team-star-container {
    position: absolute;
    top: 184px;
    left: 168px;
    display: flex;
    gap: 20px;
}
/* Team Star Wrapper */
.team-star-wrapper {
    position: relative;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Team star Images */
.no-star {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.no-left-star { background-color: var(--green); }
.no-right-star { background-color: var(--blue); }

/* Team Ban Image */
.team-ban-image {
    position: absolute;
    top: 280px;
    left: 100px;
}

/* Team Ban Container */
.team-ban-container {
    position: absolute;
    top: 260px;
    left: 168px;
    width: 275px;
    display: flex;
    gap: 35px;
}

/* Team Ban Wrapper */
.team-ban-wrapper {
    position: relative;
    flex-grow: 1;
    height: 85px;
    border-radius: 15px;
    background-color: #1e1e1e;
    border: 4px solid var(--ban-colour);
}

/* Team Ban Background Image */
.team-ban-background-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

/* Team Ban Mod Id */
/* Font Size: 40px for 1 ban, 30px for 2 bans*/
.team-ban-mod-id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    line-height: 46px;
    color: var(--ban-colour);
}

/* Team Pick Container */
.team-pick-container {
    position: absolute;
    top: 50%;
    left: 607px;
    transform: translateY(-50%);
    display: flex;
    gap: 17px;
    width: 1285px;
}

/* Team Pick Wrapper */
.team-pick-wrapper {
    position: relative;
    flex-grow: 1;
    height: 321px;
    border-radius: 44px;
}
.left-team-pick-container .team-pick-wrapper { background-color: #2a5841; }
.right-team-pick-container .team-pick-wrapper { background-color: #263573; }

/* Team Pick Wrapper Outline */
.team-pick-outline {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    outline-offset: -5px;
}
.left-team-pick-outline { outline: 5px solid #c3ff88; }
.right-team-pick-outline { outline: 5px solid #4a67dd; }

/* Team Pick Background Image */
.team-pick-background-image {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-size: cover;
    background-position: center;
    opacity: 0.4;
}

/* Team Pick Winner Crown */
.team-pick-winner-crown {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
}

/* Team Pick Mod Id */
.team-pick-mod-id {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    color: white;
}

/* Chat Display */
.chat-display {
    position: absolute;
    left: 25px;
    bottom: 17px;
    width: 829px;
    height: 182px;
    border-radius: 30px;
}
/* Chat Display Background */
.chat-display-background {
    width: 100%;
    height: 100%;
    border-radius: inherit;
    opacity: 0.8;
    background-color: #1a1a1a;
}

/* Sidebar */
.sidebar {
    position: absolute;
    left: 1920px;
    top: 0;
    width: 250px;
    height: 1080px;
    background-color: #449071;
}
.sidebar-section {
    width: inherit;
    padding: 20px 0;
    border-bottom: 2px solid white;
}
.sidebar-title {
    width: inherit;
    text-align: center;
    margin-bottom: 10px;
    color: white;
    font-weight: 700;
    font-size: 32px;
}
.sidebar-text {
    width: inherit;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
}
.sidebar-button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.sidebar-button-container button {
    width: 100px;
    height: 50px;
    font-family: inherit;
    font-weight: 700;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: 3px solid white;
    border-radius: 20px;
}
.sidebar-button-container button:active {
    color: #449071;
    background-color: white;
}

.preload-images {
    opacity: 0;
}