:root {
    --banner-horizontal-alignment: 500px;
}

.main { background-image: url("static/background.png") }

/* Round Name */
.round-name {
    position: absolute;
    top: 34px;
    right: 30px;
    font-size: 30px;
    letter-spacing: 3px;
    color: white;
}

/* Border */
.border {
    position: absolute;
    width: 1920px;
    height: 0px;
    border: 3px solid #fff5d5;
}
.top-border { top: 100px; }
.middle-border { top: 481px; }
.bottom-border { top: 856px; }

/* Team Section */
.team-section {
    position: absolute;
    
    width: 1920px;
    height: 380px;
}
.left-team-section { top: 100px; }
.right-team-section { top: 481px; }

/* Team Section Overlay */
.team-section-overlay {
    opacity: 0.502;
    width: 100%;
    height: 100%;
}
.left-team-section-overlay { background-image: linear-gradient(180deg, #c3ff87 0%, #295741 100%); }
.right-team-section-overlay { background-image: linear-gradient(180deg, #4967dd 0%, #b9ddff 100%); }

/* Banner */
.banner {
    position: absolute;
    left: 25px;
    top: 6px;
}

/* Team Name */
.team-name {
    position: absolute;
    top: 22px;
    left: 167px;
    width: 456px;
    font-size: 70px;
    line-height: 72px;
    color: #ffffff;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: anywhere;
}

/* Team Horizontal Rule */
.team-horizointal-rule {
    position: absolute;
    top: 180px;
    width: 1920px;
    height: 48px;
}
.left-team-horizontal-rule { background-color: #3e815f; }
.right-team-horizontal-rule { background-color: #b9ddff; }

/* Team Star Container */
.team-star-container {
    position: absolute;
    top: 182px;
    left: 168px;
    display: flex;
    gap: 20px;
}
/* Team Star Wrapper */
.team-star-wrapper {
    position: relative;
    width: 39px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Team star Images */
.no-star {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
.no-left-star { background-color: var(--green); }
.no-right-star { background-color: var(--blue); }

/* Team Ban Image */
.team-ban-image {
    position: absolute;
    top: 280px;
    left: 100px;
}